<%= form_for(user) do |f| %>
	<div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>
	<%= f.submit(@user.new_record? ? '新增使用者' : '修改使用者', class:"btn btn-success") %>
<% end %>