

<% @posts.each do |post| %>
  <h2>
    <%= link_to post.title, post_path(post) %>
  </h2>
  
  <p class="lead">by <a href="#"><%= post.user.name %></a></p>

  <p><span class="glyphicon glyphicon-time"></span>類別：<%= post.category_name %></p>
  <hr>
  <img class="img-responsive" src="http://placehold.it/900x300" alt="">
  <hr>
    <p><%= post.content %></p>
    <% if logged_in? %>
      <% if current_user.id == post.user.id %> 
        <%= link_to '修改', edit_post_path(post) %>
        <%= link_to '刪除', post, method: :delete, data: { confirm: '確定要刪除文章?' } %>
      <% end %>
    <% end %>
<hr>
<% end %>

